exclude: "^$"
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      # - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-toml

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        # currently prettier does not support helm charts
        # https://github.com/prettier/prettier/issues/6517
        language_version: 16.19.0
        exclude: '\.(git/COMMIT_EDITMSG|yaml)$'

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline", "force-use-all-plugins"]
        exclude: .*\.lock*|.*\.md|.*\.ipynb|.secrets.baseline|.*\.svg|.*\.pkl|.*\.drawio|.*.ipopt|backend/jobs/bin|workspace/
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.334
    hooks:
      - id: pyright

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.0.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
